:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.button-section {
  width: 1rem;
  height: 1rem;
}
.bombs-time-section {
  display: flex;
  justify-content: space-between;
}
.label-section {
  color: red;
  background: black;
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin: 0.5rem;
  width: 3.5rem;
  text-align: center;
}

table {
  margin: 0.5rem;
}

.button-new-game {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ccc;
  border: 0.1rem solid rgb(153, 143, 143);
  box-shadow: 0.1rem 0.2rem #888888;
}

.button-reveled {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #ccc;
  border: 0.1rem solid rgb(153, 143, 143);
  text-align: center;
}

header {
  text-align: center;
  padding: 0.5rem;
}

.game-board {
  background-color: #ccc;
  border: 0.1rem solid black;
  border-radius: 0.5rem;
}
.state-game {
  text-align: center;
  align-items: center;
  padding: 0.5rem;
}
.option-section,
.screen-message {
  border: 0.1rem solid rgb(153, 143, 143);
  border-radius: 0.5rem;
  padding: 1rem;
}
.screen-message {
  margin: 1rem;
}
